# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
instance/

# Virtual Environment
venv/
env/
ENV/

# Conda
*.conda
miniconda3/
anaconda3/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env
*.env

# Database
*.db
*.sqlite
*.sqlite3